body{
  margin: 0;
  color: black;
}

/* Header */
.sidenav {
  height: 10vh;
  width: 60vw;
  position: fixed;
  z-index: 1;
  top: 0;
  right: -60vw;
  background-color: black;
  padding-top: 8vh;
  transition: left 0.5s ease;
}
.sidenav.active {
  right: 0;
}

.logo{
  height: 20vh;
  width: 10vw;
  margin-left: 10vw;
  display: flex;
  align-items: center;
}
.menu{
  height: 20vh;
  width: 70vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
.doub1 {
  height: 20vh;
  width: 70vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.log{
 width: 4vw;
}
.burger-icon{
  height: 40px;
  width: 35px;
}
.outer1 {
  left: 64%;
  top: 6%;
  width: 25%; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight:bold;
  position: absolute;
  border-radius: 40px;
  height: 5vh;
  color: #D84B0F;
  background-color: black;
  border: 2px solid #D84B0F;
}
.inner1 {
  width: 35%;
  height: 5vh;
  background-color: black;
  border: 2px solid #D84B0F;
  border-radius: 40px;
}
.line {
  display: block;
  width: 35px;
  height: 5px;
  background-color: #D84B0F;
  margin: 6px 0;
}

/* Section 1 */
.S1{
  background-color: black;
}

.hautDepage{
  width: 100vw;
  height: 20vh;
  margin: 0;
  display: flex;
  background-color: black;
}
.présentation{
  width: 100vw;
  height: 70vh;
}
.phrase{
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
}

.gauche{
  width: 90vw;
  height: 35vh;
  margin-left: 10vw;
}
.droite{
  width: 90vw;
  height: 35vh;
  margin-left: 10vw;
  display: flex;
  justify-content: center;
}


.wheel {
  position: relative;
  border-radius: 50%;
  font-weight:bold;
  color: #D84B0F;
  animation: rotate 10s linear infinite;
}

.s1Text{
  height: 30vh;
  margin: 0;
}
.doub{
  height: 10vh;
  width: 90vw;
  display: flex;
  align-items: center;
}

.decouv{
  color: black;
  font-weight:bold;
  font-size: 2vw;
}
.out{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 8%;
  border-radius: 40px;
  width: 26%;
  height: 5vh;
  background-color: #D84B0F;
}
.in{
  width: 28%;
  height: 5vh;
  background-color: black;
  border: 2px solid #FF5252;
  border-radius: 40px;
}
.fus{
  width: 10vw;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.letter:nth-child(1) { transform: rotate(0deg) translate(10vw) rotate(90deg); }
.letter:nth-child(2) { transform: rotate(17deg) translate(10vw) rotate(90deg); }
.letter:nth-child(3) { transform: rotate(34deg) translate(10vw) rotate(90deg); }
.letter:nth-child(4) { transform: rotate(51deg) translate(10vw) rotate(90deg); }
.letter:nth-child(5) { transform: rotate(68deg) translate(10vw) rotate(90deg); }
.letter:nth-child(6) { transform: rotate(85deg) translate(10vw) rotate(90deg); }
.letter:nth-child(7) { transform: rotate(102deg) translate(10vw) rotate(90deg); }
.letter:nth-child(8) { transform: rotate(119deg) translate(10vw) rotate(90deg); }
.letter:nth-child(9) { transform: rotate(136deg) translate(10vw) rotate(90deg); }
.letter:nth-child(10) { transform: rotate(153deg) translate(10vw) rotate(90deg); }
.letter:nth-child(11) { transform: rotate(170deg) translate(10vw) rotate(90deg); }
.letter:nth-child(12) { transform: rotate(187deg) translate(10vw) rotate(90deg); }
.letter:nth-child(13) { transform: rotate(204deg) translate(10vw) rotate(90deg); }
.letter:nth-child(14) { transform: rotate(221deg) translate(10vw) rotate(90deg); }
.letter:nth-child(15) { transform: rotate(238deg) translate(10vw) rotate(90deg); }
.letter:nth-child(16) { transform: rotate(255deg) translate(10vw) rotate(90deg); }
.letter:nth-child(17) { transform: rotate(272deg) translate(10vw) rotate(90deg); }
.letter:nth-child(18) { transform: rotate(289deg) translate(10vw) rotate(90deg); }
.letter:nth-child(19) { transform: rotate(0deg) translate(-35%, -35%) rotate(0deg); } 
.letter:nth-child(20) { transform: rotate(310deg) translate(10vw) rotate(90deg); }
.letter:nth-child(21) { transform: rotate(325deg) translate(10vw) rotate(90deg); }
.letter:nth-child(22) { transform: rotate(340deg) translate(10vw) rotate(90deg); }

/* Section 2 */
.S2{
  background-color: black;
}
.enTete{
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.partie1{
  height: 30vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.s2Partie2{
  height: 60vh;
  display: flex;
  justify-content:space-around;
  align-items: center;
}
.text{
  height: 20vh;
  width: 80vw;
  text-align: center;
}
#lang{
  height: 25vh;
  width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px 20px 20px 20px;

}
.lang1{
  background-color:#E0C213;
}
.lang2{
  background-color:#3D18DD;
}
.lang3{
  background-color:#68963B;
}
.lang4{
  background-color:#DB5E1A;
}
.surlignage {
  height: 7px; 
  background-color:#D84B0F;
  display: flex;
  justify-content: center;
  align-items: center;
}

.compet:hover {
  transform: scale(1.2); 
}

/* Section 3*/
.S3{
  background-color: black;
}
.s3Partie2{
  height: 40vh;
  width: 100vw;
  display: flex;
  justify-content:space-evenly ;
}
.s3Partie3{
  height: 20vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.aboutme{
  height: 40vh;
  width: 40vw;
  border-radius: 20px 20px 20px 20px;
  background-color:#D84B0F;
  text-align: center;
}
.about{
  height: 40vh;
  width: 40vw;
}
.contact{
  height: 10vh;
  width: 60vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color:#1E1D1D;
  border-radius: 20px 20px 20px 20px;
}
.infos{
  height: 10vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contLog{
  height: 10vh;
  width: 20vw;
  display: flex;
  justify-content: space-evenly ;
  align-items: center;

}
.photo{
  height: 10vh;
  width: 20vw;
  display: flex;
  justify-content: center ;
  align-items: center;

}
.cont{
  height: 3vh;
  width: 40vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logs{
  height: 15px;
}
.reseau{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #D84B0F;
  display: flex;
  justify-content: center ;
  align-items: center;
}
.ico{
  height: 15px;
}
.icone{
  height: 25px;
}



/* Texte et liens */
a {
  text-decoration: none;
  color: #D84B0F;
  display: block;
  transition: 0.3s;
  font-size: 1.4vw;
}
h1{
  font-size: 4.5vw;
  margin: 0;
  font-weight: bold;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}
p{
  font-size: 1.8vw;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.decouv{
  color: black;
  font-weight:bold;
  font-size: 1.4vw;
}
.letter {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 3vw;
}
.accroche{
  font-size: 1.2vw;
  margin: 0;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


h2{
  font-size: 4vw;
  margin: 0;
  color: #488FA4;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-shadow: 0px 0px 0 #488FA4, -1px -1px 0px #8B4693, -2px -2px 0px #8B4693, -3px -3px 0px #8B4693, -4px -4px 0px #824B90, -5px -5px 0px #824B90, -6px -6px 0px #824B90, -7px -7px 0px #75508D, -8px -8px 0px #75508D, -9px -9px 0px #6F538C, -10px -10px 0px #70528C, -11px -11px 0px #575D86, -12px -12px 0px #4C6283, -13px -13px 0px #496382, -14px -14px 0px #406780, -15px -15px 0px #336C7D, -16px -16px 0px #488FA4, -16px -16px 0px #488FA4;
}
h3{
  font-size: 3vw;
  margin: 0;
  height: 5vh;
  color: #D84B0F;
  display: flex;
  justify-content: center;
  align-items: center;
}
h4{
  font-size: 2vw;
  margin: 0;
  height: 7vh;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.compet{
  margin: 0;
  height: 17vh;
  width: 25vw;
  color: black;
  font-weight: 700;
  font-size: 1.2vw;
  text-align: center;
}
.mail{
  color: white;
  font-size: 0.6em;
  text-decoration: underline;
}
.s3about{
  height: 20vh;
  font-size: 1vw;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.moi{
  height: 45px;
}

/* Format petit Téléphone */
@media screen and (max-width: 369px){
.doub1{
    display: none;
  }
.droite{
  margin-left: 10vw;
}

.s2Partie2{
  width: 80vw;
  margin-left: 10vw;
  flex-wrap: wrap;
}

}

/* Format Téléphone */
@media screen and (max-width: px) and (max-width: 699px) {
.doub1{
    display: none;
}
.droite{
  margin-left: 10vw;
}
.partie1{
  align-items: center;
}
.s2Partie2{
  width: 80vw;
  margin-left: 10vw;
  flex-wrap: wrap;
}

.aboutme{
  height: 30vh;
}
.logs{
  height: 25px;
}
.reseau{
  height: 35px;
  width: 35px;
}
.ico{
  height: 20px;
}
.icone{
  height: 35px;
}

}

/* Format Tablette */
@media screen and (min-width: 700px) and (max-width: 1024px){
.menu{
  display: none;
}
.sidenav{
  display: none;
}
.présentation{
  display: flex;
  height: 70vh;
}
.gauche{
  width: 40vw;
  height: 70vh;
  margin-left: 10vw;
}
.droite{
  width: 50vw;
  height: 70vh;
  align-items: center;
}
.partie1{
  align-items: center;
}
.s2Partie2{
  width: 80vw;
  margin-left: 10vw;
  flex-wrap: wrap;
}

.moi{
  height: 65px;
}
.mail{
  font-size: 1em;
}
.logs{
  height: 30px;
}
.reseau{
  height: 45px;
  width: 45px;
}
.ico{
  height: 20px;
}
.icone{
  height: 45px;
}

}

/* Format Ordinateur */
@media screen and (min-width:1025px ) {
.menu{
  display: none;
}
.sidenav{
  display: none;
}
.présentation{
  display: flex;
  height: 70vh;
}
.gauche{
  width: 40vw;
  height: 70vh;
  margin-left: 10vw;
}
.droite{
  width: 50vw;
  height: 70vh;
  align-items: center;
}

.partie1{
  align-items: center;
}
.s2Partie2{
  width: 100vw;
}
#lang{
  height: 35vh;
  width: 20vw;
}
.aboutme{
  width: 25vw;
}
.about{
  width: 25vw;
}


.compet{
  width: 15vw;
}

.cont{
  width: 25vw;
}
.moi{
  height: 100px;
}
.mail{
  font-size: 1.3em;
}
.logs{
  height: 30px;
}
.reseau{
  height: 45px;
  width: 45px;
}
.ico{
  height: 20px;
}
.icone{
  height: 45px;
}

  
}
